﻿@model IEnumerable<FPT_WEB.Models.Artist>

@{
    ViewBag.Title = "Artist Test FPT";
}

<h2>FPT - Artist Test</h2>

<style>
    th {
        text-align: center;
    }

    .text-align-center {
        text-align: center;
    }

    .modal-title {
        font-weight: bold;
        font-style: italic;
        color: green;
    }

    .modal-dialog {
    }

    .edit-button {
        padding: 5px;
        margin-bottom: 5px;
    }
</style>

<p>
    <button class="btn btn-primary" data-toggle="modal" data-target="#modalToCreate">Add New</button>
    @*<button class="btn btn-primary" data-toggle="ajax-modal" data-url="@Url.Action("Create", "Artist")">Add New</button>*@
</p>

<!-- Modal placeholder -->
<div id="modal-artist-placeholder"></div>

<div id="myModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h5 id="mediaartist" class="modal-title"></h5>
                <h5 id="mediatitle" class="modal-title"></h5>
            </div>
            <div class="modal-body">
                <div id="mediaplayer" class="embed-responsive embed-responsive-16by9">
                    <iframe id="myFrame" class="embed-responsive-item" src=""></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="modalToCreate" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">ADD NEW ARTIST</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p><b><i>Please choose how you will add the artist</i></b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="ajax-modal" data-dismiss="modal" data-url="@Url.Action("Create", "Artist")">Manual Add</button>
                <button type="button" data-toggle="youtube-modal" data-dismiss="modal" data-url="@Url.Action("Youtube", "Artist")">
                    <img src="/Content/youtube_btn.png" alt="alternative text" width="50"/>
                </button>
            </div>
        </div>
    </div>
</div>

<div id="modalToDelete" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">DELETE ARTIST ENTRY</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="warning-delete">
                    <p><b><i>Are you sure want to delete this data?</i></b></p>
                </div>
                <div id="info-delete">
                    <table>
                        <tr>
                            <td class="text-align-center" width="150">
                                <img id="img-delete" src="" alt="alternative text" width="150" />
                            </td>
                            <td class="text-align-center" width="400">
                                <div id="album-delete" style="font-weight: bold;font-style: italic"></div>
                                <div id="artist-delete" style="font-weight: bold;font-style: italic"></div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-toggle="nodelete-modal" data-dismiss="modal">NO</button>
                <button type="button" class="btn btn-danger" data-toggle="yesdelete-modal" data-dismiss="modal">YES</button>
            </div>
        </div>
    </div>
</div>

<table class="table">
    <tr>
        <th colspan="2">
            Album Name
        </th>
        <th>
            Artist Name
        </th>
        <th>
            Date Release
        </th>
        <th>
            Price
        </th>
        <th>
            Play Track
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="text-align-center" width="150">
                <img class="image-source" src="@Url.Content(item.ImageURL)" alt="alternative text" width="150" />
            </td>
            <td class="text-align-center" width="150">
                <div class="album-name">
                    @Html.DisplayFor(modelItem => item.AlbumName)
                </div>
            </td>
            <td class="text-align-center" width="115">
                <div class="artist-name">
                    @Html.DisplayFor(modelItem => item.ArtistName)
                </div>
            </td>
            <td class="text-align-center" width="115">
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td class="text-align-center" width="100">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td class="text-align-center" width="120">
                <a class="playArt" href="@Url.Content(item.SampleURL)" data-toggle="modal" data-target="#myModal">
                    <img src="@Url.Content("http://www.pngmart.com/files/3/Play-Button-PNG-Image.png")" alt="alternative text" width="60" />
                </a>
            </td>
            <td class="text-align-center" width="100">
                <div class="edit-button">
                    <button class="btn btn-primary go-edit" data-toggle="edit-modal">Edit</button>
                </div>
                <div class="delete-button">
                    <button class="btn btn-danger go-delete" data-toggle="modal" data-target="#modalToDelete">Delete</button>
                </div>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.ArtistID })
                    @Html.ActionLink("Delete", "Delete", new { id = item.ArtistID })*@
            </td>
            <td id="dataID" class="identity-data" style="visibility: hidden">@item.ArtistID</td>
        </tr>
    }

</table>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")
@Scripts.Render("~/bundles/jqueryval")

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script type="text/javascript">

    $(".playArt").click(function() {
        var videoSrc = $(this).attr("href") + "?enablejsapi=1";
        $("#myFrame").attr("src", videoSrc);
        var albumName = $(this).closest("tr")
            .find(".album-name")
            .text();
        var artistName = $(this).closest("tr")
            .find(".artist-name")
            .text();
        $("#mediaartist").text('Artist  : ' + artistName);
        $("#mediatitle").text('Album    : ' + albumName);
    });

    $('#myModal').on('hidden.bs.modal',
        function() {
            callPlayer('mediaplayer', 'stopVideo');
        });

    function callPlayer(frame_id, func, args) {
        if (window.jQuery && frame_id instanceof jQuery) frame_id = frame_id.get(0).id;
        var iframe = document.getElementById(frame_id);
        if (iframe && iframe.tagName.toUpperCase() != 'IFRAME') {
            iframe = iframe.getElementsByTagName('iframe')[0];
        }
        if (iframe) {
            iframe.contentWindow.postMessage(JSON.stringify({
                    "event": "command",
                    "func": func,
                    "args": args || [],
                    "id": frame_id
                }),
                "*");
        }
    }

    $(function() {

        var placeholderElement = $('#modal-artist-placeholder');

        $('button[data-toggle="ajax-modal"]').click(function(event) {
            var url = '/Artist/Create';
            $.get(url).done(function(data) {
                placeholderElement.html(data);

                placeholderElement.find('.modal').modal('show');
            });
        });

        placeholderElement.on('click',
            '[data-save="modal"]',
            function(event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = 'Artist/OnPostCreateArtistPartial';
                var dataToSend = form.serialize();

                $.post(actionUrl, dataToSend).done(function(data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);
                });
            });

        $('button[data-toggle="youtube-modal"]').click(function(event) {
            var url = '/Artist/Youtube';
            $.get(url).done(function(data) {
                placeholderElement.html(data);

                placeholderElement.find('.modal').modal('show');
            });
        });

        placeholderElement.on('click',
            '[data-search="youtube"]',
            function(event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = 'Artist/YoutubeSearch';

                $.post(actionUrl,
                    {
                        searchkey: $('input[id="inputKey"]')[0].value
                    }
                ).done(function(data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);

                    if ($('td[id="next-token"]').length > 0) {
                        if ($('td[id="next-token"]')[0].innerHTML != '')
                            $('button[id="btn_Next"]').attr("disabled", false);
                        else
                            $('button[id="btn_Next"]').attr("disabled", true);

                        if ($('td[id="prev-token"]')[0].innerHTML != '')
                            $('button[id="btn_Prev"]').attr("disabled", false);
                        else
                            $('button[id="btn_Prev"]').attr("disabled", true);
                    }
                });
            });

        placeholderElement.on('click',
            '[data-search="next-youtube"]',
            function(event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = 'Artist/YoutubeSearch';

                $.post(actionUrl,
                    {
                        searchkey: $('input[id="inputKey"]')[0].value,
                        tokenPage: $('td[id="next-token"]')[0].innerHTML
                    }
                ).done(function(data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);

                    if ($('td[id="next-token"]').length > 0) {
                        if ($('td[id="next-token"]')[0].innerHTML != '')
                            $('button[id="btn_Next"]').attr("disabled", false);
                        else
                            $('button[id="btn_Next"]').attr("disabled", true);

                        if ($('td[id="prev-token"]')[0].innerHTML != '')
                            $('button[id="btn_Prev"]').attr("disabled", false);
                        else
                            $('button[id="btn_Prev"]').attr("disabled", true);
                    }
                });
            });

        placeholderElement.on('click',
            '[data-search="prev-youtube"]',
            function(event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = 'Artist/YoutubeSearch';

                $.post(actionUrl,
                    {
                        searchkey: $('input[id="inputKey"]')[0].value,
                        tokenPage: $('td[id="prev-token"]')[0].innerHTML
                    }
                ).done(function(data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);

                    if ($('td[id="next-token"]').length > 0) {
                        if ($('td[id="next-token"]')[0].innerHTML != '')
                            $('button[id="btn_Next"]').attr("disabled", false);
                        else
                            $('button[id="btn_Next"]').attr("disabled", true);

                        if ($('td[id="prev-token"]')[0].innerHTML != '')
                            $('button[id="btn_Prev"]').attr("disabled", false);
                        else
                            $('button[id="btn_Prev"]').attr("disabled", true);
                    }
                });
            });

        placeholderElement.on('click',
            '[data-save="youtube"]',
            function (event) {
                event.preventDefault();

                var form = $(this).parents('.modal').find('form');
                var actionUrl = 'Artist/YoutubeAddItem';
                var itemData = $(this).closest("tr")
                    .find(".data-input")[0]
                    .innerHTML;

                $.post(actionUrl,
                    {
                        jsonData: itemData
                    }
                ).done(function (data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);

                    if ($('td[id="next-token"]').length > 0) {
                        if ($('td[id="next-token"]')[0].innerHTML != '')
                            $('button[id="btn_Next"]').attr("disabled", false);
                        else
                            $('button[id="btn_Next"]').attr("disabled", true);

                        if ($('td[id="prev-token"]')[0].innerHTML != '')
                            $('button[id="btn_Prev"]').attr("disabled", false);
                        else
                            $('button[id="btn_Prev"]').attr("disabled", true);
                    }
                });
            });
    });

    $(function () {
        var placeholderElement = $('#modal-artist-placeholder');
        var artistID;
        $('button[data-toggle="edit-modal"]').click(function (event) {
            artistID = $(this).closest("tr")
                .find(".identity-data")[0]
                .innerHTML;
            var url = '/Artist/Edit/' + artistID;
            $.get(url).done(function (data) {
                placeholderElement.html(data);

                placeholderElement.find('.modal').modal('show');
            });
        });

        placeholderElement.on('click',
            '[data-save="artist-edit"]',
            function(event) {
                event.preventDefault();

                var url = '/Artist/PostEdit';
                var form = $(this).parents('.modal').find('form');
                var dataToSend = form.serialize();
                $.post(url, dataToSend).done(function (data) {
                    var newBody = $('.modal-body', data);
                    placeholderElement.find('.modal-body').replaceWith(newBody);
                });
            });
    });

    $(function () {
        var artistID;
        $(".go-delete").click(function () {
            artistID = $(this).closest("tr")
                .find(".identity-data")[0]
                .innerHTML;
            var imgSource = $(this).closest("tr")
                .find(".image-source")
                .attr("src");
            var albumName = $(this).closest("tr")
                .find(".album-name")
                .text();
            var artistName = $(this).closest("tr")
                .find(".artist-name")
                .text();
            $("#img-delete").attr("src", imgSource);
            $("#album-delete").text("Album Name : " + albumName);
            $("#artist-delete").text("Artist Name : " + artistName);
        });

        $('button[data-toggle="yesdelete-modal"]').click(function (event) {
            var url = '/Artist/Delete/' + artistID;
            $.get(url).done(function (data) {
            });
        });
    });

</script>
