﻿@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@model IEnumerable<FPT_WEB.Models.YoutubeResult>

<div class="modal fade right" id="modalAddYoutube" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">

    <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
    <div class="modal-dialog modal-full-height modal-right" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <form role="form" id="newModalForm">
                        <input id="inputKey" asp-for="keySearch" />
                        <button type="button" class="btn btn-secondary" data-search="youtube">Search</button>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="modal-body">
                <table class="table">
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td class="text-align-center" width="150">
                            <img src="@Url.Content(item.ImageURL)" alt="alternative text" width="150" />
                        </td>
                        <td class="text-align-center" width="150">
                            <div class="album-name">
                                @Html.DisplayFor(modelItem => item.title)
                            </div>
                        </td>
                        <td class="text-align-center" width="115">
                            <div class="artist-name">
                                @Html.DisplayFor(modelItem => item.artistName)
                            </div>
                        </td>
                        <td class="text-align-center" width="115">
                            @Html.DisplayFor(modelItem => item.ReleaseDate)
                        </td>
                        <td class="text-align-center" width="100">
                            <div class="edit-button">
                                <button class="btn btn-primary" data-dismiss="modal" data-save="youtube">Add</button>
                            </div>
                        </td>
                        <td id="next-token" style="visibility: hidden">@item.nextPageToken</td>
                        <td id="prev-token" style="visibility: hidden">@item.previousPageToken</td>
                        <td class="data-input" style="visibility: hidden">@JsonConvert.SerializeObject(item)</td>
                    </tr>
                    }

                </table>
            </div>
            <div class="modal-footer justify-content-center">
                <div class="control-label col-md-10">
                    <button id="btn_Prev" type="button" class="btn btn-primary" data-search="prev-youtube" disabled="">Previous</button>
                </div>
                <button id="btn_Next" type="button" class="btn btn-primary" data-search="next-youtube" disabled="">Next</button>
            </div>
        </div>
    </div>
</div>
